.App {
  text-align: center;
}



.header ul {
  /* background-color: blue; */
  padding: 0;
  margin: 0;
  margin-right: 5rem;
  list-style: none;
  display: flex;
  gap: 3.5rem;
}

.header {
  height: 7rem;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  margin-top: 1.5rem;
}

.header a {
  color: inherit;
  font-family: 'Sono', sans-serif;
}

.header ul a:link { 
  text-decoration: none; 
  font-size: 1.4rem;
}

.header li:hover {
  text-decoration:underline
}

.siteTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 5rem;
  text-decoration: none;
}

.footer {
  background-color: red;
  min-height: 5rem;
}




.App-header {
  background-color: grey;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


